
<%= form_for(@comment) do |f| %>
     <%= f.label :content %>
     <%= f.text_field :content, required:true %>
     <br>    
    <% @photo.comments.each do |comment|%>         
         <option value="<%= comment.content %>">  
         </option>       
    <%end%>      
         </datalist>
    <%= f.submit %>

<% end %>
<script>
function goBack() {
  window.history.back();
}
</script>