
<%= form_for(@comment) do |f| %>
     <%= f.label :content %>
     <%= f.text_field :content, required:true %>
     <br>    
    <% user_photos.each do |comment|%>         
         <option value="<%= comment.content %>">  
         </option>       
    <%end%>      
         </datalist>
    <%= f.submit %>

<% end %>