<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label "Please select a profile photo" %>
<%= f.file_field :image %><br>
<% if @user.image.attached? %>
<div style="width:400px; height:auto">
<%= image_tag (@user.image), style: 'width:100%' %> 
</div>
<% end %>
 

Edit your Email<br> 
<%= f.label :email  %>
<%= f.text_field :email %><br><br>
Change your password<br>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit "Confirm" %>
<% end %>

<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>