
<h2> <%= @user.email.capitalize %>, welcome to your page!!</h2>

<% if @user.image.attached? %>
<div style="width:400px; height:auto">
<%= image_tag (@user.image), style: 'width:100%' %> 
<% end %>
<%= link_to(controller: 'photos', action: 'new') { "Add a description" } %>
<%= link_to(controller: 'comments', action: 'new') { "Add a comment " } %>
</div><br>


<%= link_to "Edit ", edit_user_path(@user) %><br><br>
<%= link_to 'Logout', {:controller => "sessions", :action => 'destroy'}, :method => :delete %><br><br>
<%= link_to 'Delete Profile', {:controller => "users", :action => 'destroy'}, :method => :delete %><br><br>
<%= link_to "All Users", {:controller => "users", :action => 'index'} %>


  






