
<h1 class="brown-text"> Welcome <%=@user.email%>!</h1>

<br>
<br>
<% if @user.image.attached? %>
<div style="width:400px; height:auto">
<%= image_tag (@user.image), style: 'width:100%' %> 
<% end %>
<br>
<% @user.photos.each do |photo| %>
<h2><%= photo.description %></h2>
<% end %> <br>
<% @photo.comments.each do |k|  %>
 <h3> Comments:  <%= k.content %> </h3>
<% end %> <br>
<br><br>


<%= link_to "Edit ", edit_user_path(@user) %><br><br>
<%= link_to 'Logout', {:controller => "sessions", :action => 'destroy'}, :method => :delete %><br><br>
<%= link_to 'Delete Profile', {:controller => "users", :action => 'destroy'}, :method => :delete %><br><br>
<%= link_to "All Users", {:controller => "users", :action => 'index'} %>
